 <div class="container hidden">
        <div class="row top-30">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-outline-secondary" href="/feed">Go to Feed</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-outline-secondary" href="/">Manage Members</a>
      </div>
    </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="members">
                    <div class="form-group">
                        <label for="title">Name:</label>
                        <input placeholder="What is your name?" type="text" class="form-control" id="member_name">
                        <br />
                        <br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="public/js/members.js" type="text/javascript"></script>