

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">For the Beer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/feed">Go to Reviews</a>
      <a class="nav-item nav-link" href="/post">Write a Review</a>
    </div>
  </div>
</nav>
<div>
  <br>
  <br>

<div class="container">
    <!-- Jumbotron for Title -->
    <div class="header">
      <h1 class="logo">
        <strong>
          <center>
          I'm just here for the beer!
          </center>
          <br>
          </strong>
          </h1>
          <center>
      <strong><p id="sign-in">Welcome to "I'm Just Here for the Beer!" Your one stop beer-review site. On this site you can review craft beer and interact with other beer lovers. Please sign in below to begin reviewing your favorite (or least favorite) beers!</p></strong>
      </center>
      
    </div>
    
  
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <form id="members">
        <div class="form-group">
          <label for="title">Name:</label>
          <input placeholder="What is your name?" type="text" class="form-control" id="member_name">
          <br />
          <br />
          <button type="submit" class="btn btn-primary col-md-6 offset-md-3 btn-light">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/members.js"></script>