
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">For the Beer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/feed">Go to Reviews</a>
      <a class="nav-item nav-link" href="/post">Write a Review</a>
    </div>
  </div>
</nav>
<div class="container hidden">
  <div class="row">
    <div class="jumbotron col-md-6 offset-md-3">
      <h1 class="display-4 text-center">I'm Just Here For the Beer</h1>
      <p class="lead text-center">Sign in to review your favorite (or least favorite) beers!</p>
      <hr class="my-4">
      
      {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form id="members">
        <div class="form-group">
          <label for="title">Name:</label>
          <input placeholder="What is your name?" type="text" class="form-control" id="member_name">
          <br />
          <br />
          <button type="submit" class="btn btn-primary col-md-6 offset-md-3 btn-light">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/members.js"></script>