
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">For the Beer!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/feed">Go to Reviews</a>
                <a class="nav-item nav-link" href="/post">Write a Review</a>
            </div>
        </div>
           <div class="d-flex justify-content-end">
        <span class="navbar-text">
      Enjoying Beer? Please use <a target="_blank" href="https://auth.uber.com/login/?uber_client_name=riderSignUp&_ga=2.80758999.1307798012.1578425620-1199370530.1578425620&_gac=1.16065154.1578425620.EAIaIQobChMIxo3v0J3y5gIVCZyzCh14pgXbEAAYASAAEgIjwvD_BwE">Uber</a> or <a target="_blank" href="https://www.lyft.com/rider">Lyft</a>!
    </span>
  </div>
    </nav>
    <div class="container hidden">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 offset-md-3 ">
            <form id="beerform" class="bg-secondary">
                <div class="form-group">
                    <label for="title">Beer!</label>
                    <input placeholder="Ex. Coors Light" type="text" class="form-control" id="title">
                    <br />
                    <div class="form-group">
                        <label for="category">Type of Beer</label>
                        <select class="form-control" id="category">
                            <option>IPA</option>
                            <option>Pale Ale</option>
                            <option>Blonde</option>
                            <option>Stout</option>
                            <option>Port</option>
                            <option>Sour</option>
                            <option>Lager</option>
                            <option>Pilsner</option>
                            <option>Witbier</option>
                            <option>Lambic</option>
                            <option>Other (Specify in your review!)
                        </select>
                     
                    </div>
                    <label for="body">Review:</label>
                    <textarea placeholder="Write your review here" class="form-control" rows="10" id="body"></textarea>
                    <br>
                         <div class="form-group">
                        <label for="category">Overall Rating:</label>
                        <select class="form-control" id="rating">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                        <br>
                    <div class="form-group">
                        <label for="category">Select Member:</label>
                        <select class="custom-select" id="author">
                        </select>

                    </div>
                    <br />
                    <div class="row">
                    <button type="submit" class="btn btn-success submit col-md-6 offset-md-3 btn-light">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Custom Script -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/post.js"></script>